*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main{
    display: flex;
}


img[src="pliki/motor.png"]{
    position: absolute;
    display: block;
    left: 15%;
    width: 70%;
    z-index: -1;
}

header{
    background-color: rgba(60, 120, 160, 0.9);
    color: white;
    font-size: 150%;
    padding: 10px;
}

.left{
    background-color: rgba(0, 100, 0, 0.6);
    margin: 2%;
    width: 75%;
    height: 600px;
    font-size: 120%;
    overflow-y: scroll;
    box-shadow: 10px 10px 7px dimgray;
}

.right{
    width: 15%;
}

.right1, .right2{
    background-color: rgba(0, 100, 0, 0.6);
    margin: 1%;

    height: 300px;
    box-shadow: 10px 10px 7px dimgray;
}

footer{
    background-color: rgba(60, 120, 160, 0.9);
    color: white;
    padding: 10px;
}

h1, h2{
    text-align: center;
    font-style: italic;
}

dd, dt{
    color: white;
}

dd{
    padding: 1%;
}

dd:hover{
    background-color: lightgreen;
}
